<div  fxLayout="column" fxLayoutAlign="center center">
    <div class="card-Box" fxLayout="row" fxLayoutAlign="space-around center">
        
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
            <h2 style="font-family: Tahoma;">{{stock.name}}</h2>
            <h2 style="font-family: Tahoma;">نماد</h2>
            <h2 style="font-family: Tahoma;">{{stock.order}}</h2>
            <h2 style="font-family: Tahoma;">دستور</h2>
        </div>
        <mat-icon>add_shopping_cart</mat-icon>
    </div>
</div>


